[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
ExecStart=./run_notebook.sh 
User=pi
Group=pi
WorkingDirectory=/home/pi/


[Install]
WantedBy=multi-user.target
