C. Facerecognition/pertemuan_5/eigenface_model.yml
C. Facerecognition/pertemuan_5/fisherface_model.yml
C. Facerecognition/pertemuan_5/lbph_model.yml
E. Eigenface Facerecognition/pertemuan_7/croped_face/*
E. Eigenface Facerecognition/app/app.exe
H. Klasifikasi Tomat - OpenCV/app/Tomato Grading Systems.exe
H. Klasifikasi Tomat - OpenCV/app/env/*
H. Klasifikasi Tomat - OpenCV/18. New Dataset Process/Original_Dataset_Test/*
H. Klasifikasi Tomat - OpenCV/18. New Dataset Process/Original_Dataset_Tomat/*
H. Klasifikasi Tomat - OpenCV/18. New Dataset Process/Dataset_Test/*
H. Klasifikasi Tomat - OpenCV/18. New Dataset Process/Dataset_Tomat/*
H. Klasifikasi Tomat - OpenCV/18. New Dataset Process/resized_tomato/*
