C. Facerecognition/pertemuan_5/eigenface_model.yml
C. Facerecognition/pertemuan_5/fisherface_model.yml
C. Facerecognition/pertemuan_5/lbph_model.yml
E. Eigenface Facerecognition/pertemuan_7/croped_face/*
E. Eigenface Facerecognition/app/app.exe
H. Klasifikasi Tomat - OpenCV/app/Tomato Grading Systems.exe
H. Klasifikasi Tomat - OpenCV/app/env/*
